<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Langbook</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div>
    <h1>
      <a href="/">Langbook</a>
    </h1>
    <ul>
      <li th:each="item : ${menuItems}">
        <a th:href="${item.href}" th:text="${item.text}"/>
      </li>
    </ul>
  </div>
  <form th:action="${queryHref}" method="get">
    <input type="hidden" th:each="definition : ${definitions}" th:id="${definition.id}" th:name="${definition.id}" th:value="${definition.value}"/>
    <input type="text" id="q" name="q" th:value="${q}"/>
    <input type="submit" th:value="#{mainSearch.search}"/>
  </form>
  <h1 th:text="#{mainSearch.resultsHeader(${query})}"/>
  <table>
    <tbody>
      <tr th:each="acceptation : ${acceptations}">
        <td>
          <a th:href="${acceptation.href}" th:text="${acceptation.text}"/>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>