<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Langbook</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div>
    <h1>
      <a href="/">Langbook</a>
    </h1>
    <ul>
      <li th:each="item : ${menuItems}">
        <a th:href="${item.href}" th:text="${item.text}"/>
      </li>
    </ul>
  </div>
  <h1 th:text="#{acceptationDetails.header(${accText})}"/>
  <table>
    <tbody>
      <tr>
        <td>Id:</td>
        <td th:text="${accId}"/>
      </tr>
    </tbody>
  </table>
</body>
</html>