<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Langbook</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <form action="/intention/addLanguage" method="post">
    <fieldset>
      <legend th:text="#{addLanguage.basicInfoLegend}"/>
      <label for="languageCode" th:text="#{addLanguage.languageCodeInputLabel}"/>
      <input type="text" id="languageCode" name="languageCode" readonly th:value="${languageCode}"/>
      <label for="alphabetCount" th:text="#{addLanguage.alphabetCountInputLabel}"/>
      <input type="text" id="alphabetCount" name="alphabetCount" readonly th:value="${alphabetCount}"/>
      <div th:each="definition : ${definitions}">
        <label th:for="${definition.id}">Defined</label>
        <input type="text" th:id="${definition.id}" th:name="${definition.id}" readonly th:value="${definition.text}"/>
      </div>
    </fieldset>
    <input type="submit" th:value="#{alphabets.addLanguageMenuItem}"/>
  </form>
</body>
</html>