<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Langbook</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <form action="/intention/addLanguage" method="get">
    <fieldset>
      <legend th:text="#{addLanguage.basicInfoLegend}"/>
      <label for="languageCode" th:text="#{addLanguage.languageCodeInputLabel}"/>
      <input type="text" id="languageCode" name="languageCode" readonly th:value="${languageCode}"/>
      <label for="alphabetCount" th:text="#{addLanguage.alphabetCountInputLabel}"/>
      <input type="text" id="alphabetCount" name="alphabetCount" readonly th:value="${alphabetCount}"/>
    </fieldset>
    <fieldset>
      <legend th:text="#{addLanguage.languageLegend}"/>
      <div th:each="correlation : ${correlations}">
        <input type="radio" id="l" name="l" th:value="${correlation.id}" th:text="${correlation.text}"/>
      </div>
    </fieldset>
    <input type="submit" th:value="#{nextButton}"/>
  </form>
</body>
</html>