<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Langbook</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div>
    <h1>
      <a href="/">Langbook</a>
    </h1>
    <ul>
      <li>
        <a href="/intention/addLanguage" th:text="#{alphabets.addLanguageMenuItem}"/>
      </li>
    </ul>
  </div>
  <div th:each="language : ${languages}">
    <h2 th:text="${language.text}"/>
    <ul th:each="alphabet : ${language.alphabets}">
      <li th:text="${alphabet.text}"/>
    </ul>
  </div>
</body>
</html>