<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Langbook</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div>
    <h1>
      <a href="/">Langbook</a>
    </h1>
    <ul>
      <li>
        <a href="/alphabets" th:text="#{mainSearch.checkAlphabetsMenuItem}"/>
      </li>
    </ul>
  </div>
  <form action="/" method="get">
    <input type="text" id="query" name="query" th:value="${query}"/>
    <input type="submit" th:value="#{mainSearch.search}"/>
  </form>
  <h1 th:text="#{mainSearch.resultsHeader(${query})}"/>
  <table>
    <tbody>
      <tr th:each="acceptation : ${acceptations}">
        <td>
          <a th:href="'/details/' + ${acceptation.id}" th:text="${acceptation.text}"/>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>