<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Langbook</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <form action="/" method="get">
    <input type="text" id="query" name="query" th:value="${query}"/>
    <input type="submit" th:value="#{mainSearch.search}"/>
  </form>
  <p th:text="#{mainSearch.resultsHeader(${query})}"/>
  <table>
    <tbody>
      <tr th:each="text : ${texts}">
        <td th:text="${text}"/>
      </tr>
    </tbody>
  </table>
</body>
</html>